<form class="commentForm" method="post">
  <i class="material-icons prefix">create</i> Title:<br>
  <input type="text" name="title"><br>
  <i class="material-icons prefix">comment</i> Content:<br>
  <input type="text" name="content">
  <button class="waves-effect waves-yellow btn-small" type="submit" id="submitBtn">Submit</button>
</form>