<script src="/comments.js"></script>

<div class="pageBody">
  <div class="discheader">
    <h3>Discussions by Book Title</h3>
    <p class="rules">Start a new discussion by creating a topic. 
      <br>Please reference the book as well.
    </p>
    <br>
    <a class="waves-effect waves-light btn" href="/discussions/create">
      <i class="material-icons left">add_circle_outline</i>Start and New Topic</a>
    </button>
  </div>
  <div class="divider"></div>

  {{#each hbsDiscussions}}
  <div class="topicGroup">
    <button class="waves-effect waves-red btn-small topicDelete" data-discussion-id="{{id}}">Delete</button>
 
    <div class="topic">{{topic}}</div>

    <a href="/discussions/{{id}}/comments" class="waves-effect waves-yellow btn-small">Go to Comments</a>
  </div>
  <div class="divider"></div>
  {{/each}}
</div>
