<div class="header">Discussions by Book
  <p class="rules">Start a new discussion by creating a topic</p>
  <button type="button" class="createTopic">
      <a href="#">Start a new Discussion</a>
    </button>
</div>

{{#each hbsDiscussions}}
<div class="topic">{{topic}}</div>
<br>
<button type="button" class="addCommentBtn">Add a Comment</button>
<br>
{{/each}}
