<script src="/comments.js"></script>

<div class="discheader">
  <h3>Discussions by Book Title</h3>
  <p class="rules">Start a new discussion by creating a topic, please reference the book as well.</p>
  <br>
  <button type="button" class="createTopic">
      <a href="/createDiscussion">Start a new Discussion</a>
    </button>
</div>
<div class="divider"></div>

{{#each hbsDiscussions}}
<div class="topicGroup">
  <div class="topic">{{topic}}</div>

  <button type="button" class="addCommentBtn">Go To Comment</button>
</div>
<div class="divider"></div>
{{/each}}
