 <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h1>Join the Club!</h1>
      <p>Dying to talk to someone about how that book went? Go ahead and sign up to join in on the discussion! </p>
      <p>Already a member of the club? Log in and continue the conversation!</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Join</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Log in</a>
    </div>
  </div>