<div class="row">
  <form class="col s12">
    <div class="row">
      <h1><span class="fa fa-sign-in"></span> Sign in</h1>

  <form method="post" name="signin" id="signin" class="col s12">
    <div class="input-field col s6">
      <input type="text" class="validate" id="username" name="username" />
      <label for="username">username</label>
    </div>

    <div class="input-field col s6">
      <input type="password" class="validate" id="password" name="password" />
      <label for="password">Password</label>
    </div>

    <button class="btn waves-effect waves-light indigo darken-4" type="submit" name="action">Sign in
    <i class="material-icons right">send</i>
  </button>
  </form>
  <p>Need an account? <a href="/signup">Sign up</a></p>
</div>