<div class="row">
  <div class="row">
    <h1 class="center-align"><span class="fa fa-sign-in"></span> Login</h1>
  </div>

  <form method="post" name="login" class="col s12">
    <div class="input-field col s6">
      <input type="text" class="validate" id="username" name="username" />
      <label for="username">username</label>
    </div>

    <div class="input-field col s6">
      <input type="password" class="validate" id="password" name="password" />
      <label for="password">Password</label>
    </div>

    <button class="center-align btn waves-effect waves-light indigo darken-4" type="submit" name="action">Log in
      <i class="material-icons right">send</i>
    </button>
  </form>
  <br>
  <p>Need an account? <a href="/signup">Sign up</a></p>
</div>