<form method="post">
  Title:<br>
  <input type="text" name="title" value="{{title}}"><br>
  Content:<br>
  <input type="text" name="content" value="{{content}}">
  <button type="submit" id="submitBtn">Submit</button>
</form>