
 <!-- Content -->
<div class="parallax-container center valign-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12 white-text">
        <h2>Welcome to the club!</h2>
        <p>A place where you can come and talk about your current reads and spark up some interesting conversations.</p>
        <a class="waves-effect waves-light btn-large blue-grey darken-4" href="/signup">Create an account</a>
      </div>
    </div>
  </div>
  
  <div class="parallax">
    <img src="https://ae01.alicdn.com/kf/HTB1L_RoXwjN8KJjSZFgq6zjbVXad/Thin-Art-fabric-bookshelf-backdrops-photography-background-library-backdrop-for-photo-studio-D-1489.jpg_640x640.jpg">
  </div>

</div>

<div class="container">
  <div class="row">
     <div class="col m4 s12">
       <div class="icon-block">
         <h2 class="center indigo-text">
           <i class="material-icons">chat</i>  
         </h2>
         <h5 class="center">Start discussions</h5>
         <p class="light">
           Navigate over to the discussion page to spark up a new topic on the book you're reading! <br>
         </p>
         <br><br>
         <a href="/discussions" class="btn-floating btn-small waves-effect waves-light indigo darken-4 btn-floating pulse right"><i class="material-icons">arrow_forward</i></a>
       </div>
       
     </div>
     <div class="col m4 s12">
       <div class="icon-block">
         <h2 class="center indigo-text darken-4">
           <i class="material-icons">book</i>  
         </h2>
         <h5 class="center">Comment on those discussions</h5>
         <p class="light">
           Once you have a discussion going, anyone with an account can log in and contribute to that discussion. You can explore all the different discussion topics that are available and join in or just start your own!
         </p>
         <a href="/discussions/1/comments" class="btn-floating btn-small waves-effect waves-light indigo darken-4 btn-floating pulse right"><i class="material-icons">arrow_forward</i></a>
       </div> 
     </div>
     <div class="col m4 s12">
       <div class="icon-block">
         <h2 class="center indigo-text darken-4">
           <i class="material-icons">person</i>  
         </h2>
         <h5 class="center">Customize your profile</h5>
         <p class="light">
           Head over to your profile page and share a little bit about your interests such as your favorite book and author. <strong>This feature is only available to members. Please create an account.</strong>
         </p>
         <br><br>
         <a href="/signup" class="btn-floating btn-small waves-effect waves-light indigo darken-4 btn-floating pulse right"><i class="material-icons">arrow_forward</i></a>
       </div> 
     </div>
   </div>
</div>

<div class="parallax-container center valign-wrapper">
  <div class="parallax"><img src="https://images.unsplash.com/photo-1514894780887-121968d00567?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=324ef1b343dd3d2a806562faf91d71fa&auto=format&fit=crop&w=900&q=60">
  </div>
  
  <div class="container white-text">
    <div class="row">
      <div class="col s12">
        <h5>Find people who love the same books you love.</h5>
      </div>
    </div>
  </div>
</div>

<div class="container center-align">
 <div id="contact-section">
    <div class="row">
    <div class="col s12">
      <h4>Checkout the repository</h4>
   
        <a href="https://github.com/lhuynh1/bookclub" target="blank" style="color:black; text decoration:none;">
            <i class="fa fa-github fa-4x" aria-hidden="true"></i>
        </a>
        
  
       
     
    </div>      
  </div>
  </div>
</div>

<div class="parallax-container center valign-wrapper">
  <div class="parallax"><img src="https://images.unsplash.com/photo-1463527882365-18201e85a091?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=403d33ecb44a23573f57841b07077434&auto=format&fit=crop&w=3819&q=80">
  </div>
  
  <div class="container white-text">
    <div class="row">
      <div class="col s12">
        <h5>A fun place to share your thoughts on your favorite books.</h5>
      </div>
    </div>
  </div>
</div>
